
<%= image_tag @current_user.picture, class: 'img-polaroid', width: '100%' %>
<legend><h4><%= @current_user.name %></h4></legend>

	<ul class="nav nav-pills nav-stacked" style="margin: 0px;">

	  <li <% if request.fullpath == boards_path or request.fullpath == root_path %> class="active" <% end %>>
	  	<%= link_to 'Board', boards_path %>
	  </li>
	  
	  <li><%= link_to 'Post', '#' %></li>
	  <li><%= link_to 'Profile', '#' %></li>
	  <li><%= link_to 'Notifications', '#' %></li>
	  <li><legend></legend></li>
  	<li><a href="#board_create" role="button" data-toggle="modal">보드 생성</a></li>
  	<li><%= link_to '그룹 생성', '#' %></li>
  	<li><legend></legend></li>
  	<li><%= link_to '#' do %>설정 <i class="icon-cog"></i><% end %></li>
	</ul>


<!-- Modal -->
<div id="board_create" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">보드 생성하기</h3>
  </div>


	<%= form_for(new_board) do |f| %>
		<div class="modal-body">
		  <div class="form-horizontal">
				  	<div class="control-group">
				  		<%= f.label "보드 이름", class: 'control-label' %>
				  		<div class="controls"><%= f.text_field :name %></div>
				  	</div>

				  	<div class="control-group">
				  		<%= f.label "보드 설명", class: 'control-label' %>
				  		<div class="controls"><%= f.text_area :description, rows: 3 %></div>
				  	</div>
			</div>
		</div>

		<div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <%= f.submit "보드 생성", class: 'btn btn-primary' %>
	  </div>
	<% end %>
</div>
