
<%= image_tag @current_user.picture, class: 'img-polaroid', width: '100%' %>
<legend><h4><%= @current_user.name %></h4></legend>

	<ul class="nav nav-pills nav-stacked" style="margin: 0px;">

	  <li <% if request.fullpath == boards_path or request.fullpath == root_path %> class="active" <% end %>>
	  	<%= link_to 'Board', boards_path %>
	  </li>
	  
	  <li><%= link_to 'Post', '#' %></li>
	  <li><%= link_to 'Profile', '#' %></li>
	  <li><%= link_to 'Notifications', '#' %></li>
	  <li><legend></legend></li>
  	<li><%= link_to '보드 생성', new_board_path %></li>
  	<li><%= link_to '그룹 생성', '#' %></li>
  	<li><legend></legend></li>
  	<li><%= link_to '#' do %>설정 <i class="icon-cog"></i><% end %></li>
	</ul>


