
<div class="row-fluid">
	<h3 style="margin-top: 0px;">
		<i class="icon-group"></i> <%= @board.name %>
		<a href="#board_edit" role="button" class="btn" data-toggle="modal"><i class="icon-edit"></i></a>
	</h3>
	<%= render 'layouts/notices' %>
</div>
<div class="row-fluid">

	<div id="board" class="span10" style="background-color: #2C3E50; height: 600px">
	</div>

	<div class="span2">
		<div class="row-fluid">
			<input id="user_search" class="typeahead span12" type="text" data-provide="typeahead" placeholder="멤버 초대하기"></input>
			<script type="text/javascript" charset="utf-8">
	      $('input#user_search').typeahead({
	        source: function(query, process) {
	        	console.log(query);
	          $.post("<%= user_search_board_path(@board) %>", { 'query': query }, function(data) {
	            process(data);
          	});
	        }
	      });
      </script>
		</div>

		<div class="row-fluid">
			<p><strong>Members</strong></p>
			<% @board.links.each do |link| %>
				<%= image_tag link.user.picture, class: 'img-rounded', width: '40px' %>
			<% end %>
		</div>
	</div>

</div>


<!-- Modal -->
<div id="board_edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">보드 수정하기</h3>
  </div>


	<%= form_for(@board) do |f| %>
		<div class="modal-body">
		  <div class="form-horizontal">
				  	<div class="control-group">
				  		<%= f.label "보드 이름", class: 'control-label' %>
				  		<div class="controls"><%= f.text_field :name %></div>
				  	</div>

				  	<div class="control-group">
				  		<%= f.label "보드 설명", class: 'control-label' %>
				  		<div class="controls"><%= f.text_area :description, rows: 3 %></div>
				  	</div>
			</div>
		</div>

		<div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <%= f.submit "보드 수정", class: 'btn btn-primary' %>
	  </div>
	<% end %>
</div>

