
<div class="row-fluid">
	<div id="left-side" class="span10">
		<div class="row-fluid">

			<div class="span6">
				<h3 style="margin-top: 0px;">
					<i class="icon-group"></i> <%= @board.name %> (메인보관함)
					<a href="#board_edit" role="button" class="btn" data-toggle="modal"><i class="icon-edit"></i></a>
				</h3>
			</div>

			<div class="span4">
				<%= render 'layouts/notices' %>
			</div>

			<div class="span2">
				<button id="board_resizer" class="btn pull-right"><i class="icon-double-angle-right"></i></button>
			</div>
		</div>

		<div class="row-fluid">
			<div id="board" style="background-color: #2C3E50; height: 600px"></div>
		</div>
	</div>


	<div id="right-side" class="span2">

		<div class="row-fluid">
			<%= link_to '임시보관함으로', temp_board_path(@board), class: 'btn btn-info' %>
		</div>

		<div class="row-fluid">
			<input id="user_search" class="typeahead span12" type="text" data-provide="typeahead" placeholder="멤버 초대하기">
		</div>

		<div class="row-fluid">
			<p><strong>Members</strong></p>
			<div id="member_pictures">
				<% @board.links.each do |link| %>
					<a href="#"><%= image_tag link.user.picture, id: link.user.id, class: 'img-rounded user', width: '40px' %></a>
				<% end %>
			</div>
		</div>
	</div>
</div>



	<script type="text/javascript" charset="utf-8">

		var element;
		$('#board_resizer').click(function() {
			if ($('#right-side').length)
			{
				element = $('#right-side').detach();
				$('#left-side').attr("class", "span12");
				$.global_var.boardwidth = 1219;
				$(this).html("<i class='icon-double-angle-left'></i>");
			}
			else
			{
				$('#left-side').attr('class', 'span10');
				$('#left-side').parent().append(element);
				$.global_var.boardwidth = 1011;
				$(this).html("<i class='icon-double-angle-right'></i>");
			}
		});


		var last_user;
		function user_popover()
		{
			if (last_user == this)
			{
				last_user = null;
				$(this).popover('hide');
			}
			else
			{
				$(last_user).popover('hide');

				last_user = this;
				$(this).popover('show');
			}
		}

		function set_popover_options(id, name)
		{
			$('#'+id).popover({
				placement: 'bottom',
				trigger: 'manual',
				html: true,

				title: $('<strong />', {
					text: name
				}),

				content: $('<div />', {
					class: 'btn btn-danger',
					text: '추방',
					click: function() {
						var id = $(this).parents('a').children('img').attr("id")
						$.post('<%= remove_member_board_path(@board) %>', { user_id: id })
							.done(function() {
								user_popover();
								$('#'+id).remove();
							})
							.fail(function() {})
							.always(function() {});
					}
				})
			})

			$('#'+id).click(user_popover);
		}

		<% @board.links.each do |link| %>
			set_popover_options("<%= link.user.id %>", "<%= link.user.name %>");
		<% end %>



		var map = {};

    $('input#user_search').typeahead({

      source: function(query, process) {
        $.post("<%= user_search_board_path(@board) %>", { 'query': query }, function(data) {
        	var user_list = new Array();	
        	for(var i = 0; i < data.length; i++)
        	{
        		map[data[i].id.toString()] = data[i];
        		user_list[i] = data[i].id.toString();
        	}
          process(user_list);
      	});
      },

      updater: function(obj) {
      	$.post("<%= add_member_board_path(@board) %>", { 'user_id': obj })
      		.done(function(data) {
      			$("#member_pictures")
      			.append($('<a />', {
      				href: '#'
      			})
      				.append($('<img />', {
      					alt: 'Photo',
      					id: obj,
      					class: 'img-rounded user',
      					src: data.picture,
      					width: '40px'
      				}))
      			)

      			set_popover_options(data.id, data.name);
      			   			
      		})
      		.fail(function(data) {})
      		.always(function() {});
	    },

	    matcher: function(item) {
	    	return true;
	    },

	    highlighter: function(item) {
	    	var data = map[item];
	    	var result = ""
	                 + "<div class='typeahead_wrapper'>"
	                 + "	<img class='typeahead_photo' src='" + data.picture + "' />"
	                 + "	<div class='typeahead_labels'>"
	                 + "		<div class='typeahead_primary'>" + data.name + "</div>"
	                 + "		<div class='typeahead_secondary'></div>"
	                 + "	</div>"
	                 + "</div>";
	      return result;
	    }
    });



  </script>
</div>


<!-- Modal -->
<div id="board_edit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">보드 수정하기</h3>
  </div>


	<%= form_for(@board) do |f| %>
		<div class="modal-body">
		  <div class="form-horizontal">
				  	<div class="control-group">
				  		<%= f.label "보드 이름", class: 'control-label' %>
				  		<div class="controls"><%= f.text_field :name %></div>
				  	</div>

				  	<div class="control-group">
				  		<%= f.label "보드 설명", class: 'control-label' %>
				  		<div class="controls"><%= f.text_area :description, rows: 3 %></div>
				  	</div>
			</div>
		</div>

		<div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	    <%= f.submit "보드 수정", class: 'btn btn-primary' %>
	  </div>
	<% end %>
</div>

