<!DOCTYPE html>
<html>
<head>
  <title>Arbos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #ECF0F1;">

	<%= render 'layouts/header' %>

	<div class="container">
		<div class="row-fluid">

			<div class="span3">
			</div>

			<div class="span4">
				<%= render 'layouts/notices' %>
				<%= yield %>
			</div>

			<div class="span2">
				<%= render 'boards/right_side' %>
			</div>

			<div class="span3">
			</div>

		</div>
	</div>

</body>
</html>