<!DOCTYPE html>
<html>
<head>
  <title>Arbos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	

<body style="background-color: #ECF0F1;">

	<%= render 'layouts/header' %>
	<div class="container-fluid">
		<%= yield %>
	</div>

</body>

<script type="text/javascript" charset="utf-8">

  var STICKIES = function () {

    var initStickies = function initStickies() {

      $('#board').append($("<div />", { 
        text : "Y", 
        class : "add-sticky",
        click : function () { createSticky({ id: +new Date(), top: "40px", left: "40px", text: "", type: "yellow_sticky" }); }
      }));

      $('#board').append($("<div />", { 
        text : "B", 
        class : "add-sticky",
        click : function () { createSticky({ id: +new Date(), top: "40px", left: "40px", text: "", type: "blue_sticky"}); }
      }));

      initStickies = null;
    };

    var openStickies = function openStickies() {
      
      initStickies && initStickies();

      <% @board.posts.each do |post| %>
        createSticky({id: '<%= post.id %>', top: '<%= post.top.to_s+"px" %>', left: '<%= post.left.to_s+"px" %>', text: '<%= post.story.html_safe %>', type: '<%= post.type %>'});
      <% end %>
    };

    var createSticky = function createSticky(data) {

      $("<div />", { 
        class: data.type,
        id: data.id,
        keypress: markUnsaved
      })
      .prepend($("<div />", {
        class: "sticky-header"
      })
        .append($("<span />", {
          class: "sticky-status"
        }))
        .append($("<span />", { 
          class: "close-sticky", 
          text: "trash", 
          click: function () { deleteSticky($(this).parents("."+data.type).attr("id")); }
        }))
      )
      .append($("<div />", { 
        html: data.text, 
        contentEditable: "true", 
        class: "sticky-content"
      }))
      .draggable({
        handle: ".sticky-header",
        start: markUnsaved,
        stop: saveSticky
      })
      .css({
        position: "absolute",
        top: data.top,
        left: data.left
      })
      .focusout(saveSticky)
      .appendTo($('#board'));
    };

    var deleteSticky = function deleteSticky(id) {

      if (confirm("정말 삭제 할라고?"))
      {
        $.post("<%= post_destroy_board_path(@board) %>", { 'post_id': id })
          .done(function() {})
          .fail(function() {})
          .always(function() { 
            $("#" + id).fadeOut(200, function () { 
              $(this).remove(); 
            }); 
          });
      }
    };

    var saveSticky = function saveSticky() {

      var sticky = $(this);
      var obj = {
        id  : sticky.attr("id"),
        top : sticky.css("top"),
        left: sticky.css("left"),
        text: sticky.children(".sticky-content").html(),
        type: sticky.attr("class").split(' ')[0] 
      };  
      
      $.post("<%= post_create_board_path(@board) %>", { 'post': obj }, function(data) {
        sticky.find(".sticky-status").text("저장완료");
        sticky.attr("id", data);
      });
    };

    var markUnsaved = function markUnsaved() {
      $(this).find(".sticky-status").text("수정 중");
    };

    return {
      open   : openStickies,
      init   : initStickies,
      "new"  : createSticky,
      remove : deleteSticky 
    };

  }();

  STICKIES.open();

</script>
</html>