<!DOCTYPE html>
<html>
<head>
  <title>Arbos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>

</head>
	

<body style="background-color: #ECF0F1;">

	<%= render 'layouts/header' %>
	<div class="container-fluid">
		<%= yield %>
	</div>

</body>

<script type="text/javascript" charset="utf-8">
  var STICKIES = (function () {
      console.log('main');

      var initStickies = function initStickies() {
        console.log('init');
        $('#board').append($("<div />", { 
          text : "Y", 
          "class" : "add-sticky",
          click : function () { createSticky({ id: +new Date(), top: "40px", left: "40px", text: "yellow", type: "yellow_sticky" }); }
        }));
        $('#board').append($("<div />", { 
          text : "B", 
          "class" : "add-sticky",
          click : function () { createSticky({ id: +new Date(), top: "40px", left: "40px", text: "blue", type: "blue_sticky"}); }
        }));
        initStickies = null;
      },
      openStickies = function openStickies() {
        console.log('open');
        initStickies && initStickies();

        <% @board.posts.each do |post| %>
          createSticky({id: '<%= post.id %>', top: '<%= post.top.to_s+"px" %>', left: '<%= post.left.to_s+"px" %>', text: '<%= post.story.html_safe %>', type: '<%= post.type %>'})
        <% end %>
      },
      createSticky = function createSticky(data) {
        console.log(data);
        
        return $("<div />", { 
          "class" : data.type,
          'id' : data.id
           })
          .prepend($("<div />", { "class" : "sticky-header"} )
            .append($("<span />", { 
              "class" : "sticky-status", 
              click : saveSticky 
            }))
            .append($("<span />", { 
              "class" : "close-sticky", 
              text : "trash", 
              click : function () { deleteSticky($(this).parents("."+data.type).attr("id")); }
            }))
          )
          .append($("<div />", { 
            html : data.text, 
            contentEditable : true, 
            "class" : "sticky-content", 
            keypress : markUnsaved
          }))
        .draggable({ 
          handle : "sticky-header", 
          stack : ".sticky",
          start : markUnsaved,
          stop  : saveSticky  
         })
        .css({
          position: "absolute",
          "top" : data.top,
          "left": data.left
        })
        .focusout(saveSticky)
        .appendTo(document.body);
      },
      deleteSticky = function deleteSticky(id) {
        console.log('delete');
        if (confirm("정말 삭제 할라고?"))
        {
          $.post("<%= post_destroy_board_path(@board) %>", { 'post_id': id }, function(data) {
            $("#" + id).fadeOut(200, function () { $(this).remove(); });
          });
        }
      },
      saveSticky = function saveSticky() {
        console.log('save');
        var that = $(this);
        var sticky = (that.hasClass("sticky-status") || that.hasClass("sticky-content")) ? that.parents('div.sticky'): that;

        var obj = {
          id  : sticky.attr("id"),
          top : sticky.css("top"),
          left: sticky.css("left"),
          text: sticky.children(".sticky-content").html(),
          type: sticky.attr("class").split(' ')[0] };  
        
        $.post("<%= post_create_board_path(@board) %>", { 'post': obj }, function(data) {
          sticky.find(".sticky-status").text("저장완료");
          sticky.attr("id", data);
        });

      },
      markUnsaved = function markUnsaved() {
        console.log('unsaved');
        var that = $(this);
        sticky = that.hasClass("sticky-content") ? that.parents("div.sticky") : that;
        sticky.find(".sticky-status").text("수정 중");
      }
      return {
        open   : openStickies,
        init   : initStickies,
        "new"  : createSticky,
        remove : deleteSticky 
      };
    }());
  
    STICKIES.open();

</script>
</html>