<!DOCTYPE html>
<html>
<head>
  <title>Arbos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

<%= link_to '삭제', @board, method: :delete, data: {confirm: 'are you sure?'} %>

</body>
</html>